
{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <a class="btn btn-primary" href="/login" role="button">Click here to Login &raquo;</a>
      <a class="btn btn-primary" href="/signup" role="button">Click here to signup &raquo;</a>
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Hey People!!!Welcome to the Cool Cool Blog! Here we'll be showing some wonderful amazing cool blogs.
                Please do  check out!!.</p>

        </div>
    </div>
</main>
{% endblock %}