<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
      <a class="btn btn-primary" href="/logout" role="button">Click here to Logout&raquo;</a>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

  </head>
  <body style="background-color:powderblue;">
   <a class="btn btn-primary" href="/posts" role="button">Click here to go to Posts &raquo;</a>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">
            <small> You were successfully logged in!</small>
            <h1 class="title">

            Your Profile

          </h1>
          <h2 class="subtitle">
           Welcome!!
          </h2>
        </div>
      </div>
    </section>
  </body>
</html>